.dragDropArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.coursePage {
  width: 500px;
  min-height: 100dvh;
  margin: 40px;
}
.coursePageDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 600px;
  flex-wrap: wrap;
  border: 1px solid black;
}
.courseContainer {
  width: 200px;
  background-color: #888;
  color: black;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  min-height: 240px;
}
.courseDesc {
  width: 90%;
}
.courseButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.myCoursePageDiv {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  background-color: rgb(126, 126, 126);
}
.myCourseContainer {
  width: 200px;
  background-color: #242424;
  color: rgb(255, 255, 255);
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  height: 240px;
}
.userPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.userDiv {
  width: 60%;
  background-color: #888;
  color: black;
  border: 2px solid black;
  margin: 12px;
}
.userContainer {
  padding: 20px;
  margin: 8px;
  display: flex;
  min-width: 94%;
  min-height: 80px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.buttonClass {
  width: 160px;
  margin: 8px;
}
.activeButton {
  background-color: #646cff;
  color: white;
}
.navbar {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 90%;
}
.passiveA {
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 8px;
}
.activeA {
  color: #646cff;
}
.titleOfTheApp {
  font-size: 2em;
  color: white;
}
.helloMessage {
  text-align: left;
  font-size: 1em;
}
.activeUserName {
  color: #646cff;
  font-size: 1.5em;
}
.navButtons {
  height: 20px;
  position: absolute;
  top: 90px;
  right: 20px;
}

@media screen and (max-width: 768px) {
  .dragDropArea {
    flex-direction: column;
  }
  .coursePage {
    width: 100%;
  }
  .myCoursePageDiv {
    min-height: 100dvh;
  }

  .userPage {
    width: 100%;
  }
  .userDiv {
    width: 100%;
  }
  .userContainer {
    flex-direction: column;
  }
}
